.flexbox {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#test-higher {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:auto;
}

.test-medium {
    flex-wrap: none;
}

h1 {
    font-size: 25px;
}

p {
    width: 150px;
}

img {
    width: 175px;
    border-radius: 20px;
    border: 1px solid black;
}

.test {
    border: 1px solid black;
    text-align: center;
    padding-bottom: 30px;
 }